.input-wrapper {
	position: relative;
	width: 100%;
}

.input-icon {
	color: #191919;
	position: absolute;
	width: 50px;
	height: 20px;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.input{
    text-indent: 20px;
}
