.headers{
  
   
 
    
    width: 100%;
    height: 5rem;
    background-color: #1671C9;
   
}

body{
    background-color: antiquewhite;
    overflow: hidden;
}

.cardsmedicas{
  /* display: flex;
  justify-content: center;
  gap:10px; */
  width: 100%;
  margin-top: 5rem;


}

.cards{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 324px));
    justify-content: center;
    
}

.cards>.card{

    /* width: 200px; */
    height: 150px;
    box-shadow: 0 0 2px 0 ;
}

.input-wrapper {
	position: relative;
	width: 100%;
}

.input-icon {
	color: #191919;
	position: absolute;
	width: 50px;
	height: 20px;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.input{
    text-indent: 20px;
}
