.headers{
  
   
 
    
    width: 100%;
    height: 5rem;
    background-color: #1671C9;
   
}

body{
    background-color: antiquewhite;
    overflow: hidden;
}

.cardsmedicas{
  /* display: flex;
  justify-content: center;
  gap:10px; */
  width: 100%;
  margin-top: 5rem;


}

.cards{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 324px));
    justify-content: center;
    
}

.cards>.card{

    /* width: 200px; */
    height: 150px;
    
}

.input-wrapper {
	position: relative;
	width: 100%;
}

.input-icon {
	color: #191919;
	position: absolute;
	width: 50px;
	height: 20px;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.input{
    text-indent: 20px;
}

.name{
    font-size: 1.4rem; 
    font-weight: 700;

}

.date{
    font-size: 0.7rem;

}

.btnagendar{
    font-size: 12px;
}


@media (max-width: 345px){
.name{

    font-size: 1rem; 
    padding-top: 8px;

}
.date{
  
    font-size: 0.6rem;
    padding-top: 3px;


}

.btnagendar{
    /* width: 6rem; */
    font-size: 10px;
    font-weight:700;
}
}

.medicinaleter{
    font-size: 1.5rem;
    font-weight:700;

}

.direccionleter{
  
     font-size: .8rem;
     font-weight:400;
}

.fechaletter{
    border:solid 1px rgba(184, 172, 172, 0.911) ; 
    color: blue; 
    border-radius: 10px; 
    font-size: 12px; 
    height: 23px; 
    width:50px; 
    text-align: center; 
    margin-top: 7px; 
}
.horaletter{
    border:solid 1px rgba(184, 172, 172, 0.911) ; 
    color: rgb(228, 33, 43); 
    border-radius: 10px; 
    font-size: 10px; 
    height: 20px; 
    width:35px ; 
    text-align: center; 
    margin-top: 7px; 
    margin-left: 2px; 
}

.citasletter{
    font-size: 1.2rem;
    text-align: center;
}

@media(max-width:345px){
    .medicinaleter{
        margin-top: 1rem;
        font-size: .8rem;
    font-weight:700;

    }

    .direccionleter{
  
        font-size: .8rem;
        font-weight:400;
   }

   .fechaletter{
    border:solid 1px rgba(184, 172, 172, 0.911) ; 
    color: blue; 
    border-radius: 7px; 
    font-size: 8px; 
    height: 18px; 
    width:40px; 
    text-align: center; 
    margin-top: 18px; 
}
.horaletter{
    border:solid 1px rgba(184, 172, 172, 0.911) ; 
    color: rgb(228, 33, 43); 
    border-radius: 10px; 
    font-size: 7px; 
    height: 18px; 
    width:30px; 
    text-align: center; 
    margin-top: 18px; 
    margin-left: 2px; 
}


.citasletter{
    font-size: .8rem;
    margin-top: 4px;
}
    
}
