<section style="margin: 4rem auto;">

  <div class="columnas sistem">
    <div>
      <form>
        <div class="form-outline input-wrapper mb-4">
          
          <input  type="email" id="form2Example17" class="form-control form-control-lg input" placeholder="Buscar doctor..." />
          <i class="bi bi-search input-icon"></i>
        </div>
      </form>
    </div>


    <div class="d-flex justify-content-between mb-4" style="background-color: #E8E8EA; height: 70px;
    border-radius: 1rem;">

      <div class="d-flex flex-column px-2">
        <div style="font-size: 1.4rem; font-weight: 700;"> Hola, Richard</div>
        <div style="font-size: 0.7rem;">Viernes, 26 de agosto 2022</div>
      </div>

      <div class="d-flex align-items-center px-2">
        <button class="btn btn-success">AGENDAR CITA</button>
      </div>

    </div>


    <div>

      <div class="d-flex">
        <div style="border-left:solid 5px red ;">
        </div>
        <div class="px-2">
          <h4 style="font-size: 1.3rem;">Próximas Citas(2)</h4>
        </div>
      </div>
      <div>
      </div>
    </div>



    <div class="card mt-3">

      <div>

        <h4 style="font-size: 1.5rem; font-weight:700">Medicina General</h4>

      </div>

      <div>
        <small style="font-size: .8rem; font-weight:400">Guayaquil, Av. 9 de octubre y Córdoba</small>
      </div>

    </div>

  </div>



<div class="cardsmedicas mt-5">

  <div class="cards ">
    <div class="card d-flex justify-content-around ">

      <div class="d-flex justify-content-center px-2">
        <div>
          <p>Consulta médica</p>
        </div>
      
      
      </div>
    
      <div class="d-flex justify-content-center">
        <img src="assets/estetoscopioori.png" alt="Consulta M+edica" style="width: 25px; height:25px;">
      </div>
    </div>
    <div class="card d-flex justify-content-around  ">
      <div class="d-flex justify-content-center px-2">
        <div>
          <p>Laboratorio a Domicilio</p>
        </div>
      
       
      </div>
    
      
    
      <div class="d-flex justify-content-center ">
        <img src="assets/laboratorio.png" alt="Consulta M+edica" style="width: 25px; height:25px;">
      </div>
    </div>


    <div class="card d-flex justify-content-around">

      <div class="d-flex justify-content-center px-2">
        <div>
          <p>Emergencia Médica</p>
        </div>
      
       
      </div>
    
      <div class="d-flex justify-content-center">
        <img src="assets/llamada-de-emergencia.png" alt="Consulta M+edica" style="width: 25px; height:25px;">
      </div>
    </div>
    <div class="card d-flex justify-content-around  ">
      <div class="d-flex justify-content-center px-2">
        <div>
          <p>Bienestar Familiar</p>
        </div>
      
      </div>
    
      
    
      <div class="d-flex  justify-content-center">
        <img src="assets/familia.png" alt="Consulta M+edica" style="width: 25px; height:25px;">
      </div>
    </div>
  </div>







 </div>








</section>







<!-- <section class="mt-5" >
  <div style="width: 100%">
    <div class="row d-flex flex-column justify-content-center align-items-center h-100">
      <div class="col col-xl-12 col-md-10">
        <div class="d-flex flex-column justify-content-center">      
            <div class="col-lg-12 d-flex align-items-center justify-content-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form>
                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example17" class="form-control form-control-lg" 
                    placeholder="Buscar doctor..."/>                    
                  </div>           
                </form>
              </div>
            </div>         
        </div>
      </div>
    

   
      <div class="col col-xl-12   col-md-10 justify-content-center align-items-center">
      
  <div class="row d-flex flex-column   justify-content-center  align-items-center ">
   
    <div class="d-grid col-11">
      <h6><strong>Próximas Citas(2)</strong></h6>
    </div>
   
    <div class="card col-11 " style="height: 130px;">
      <div class="d-flex justify-content-between">
        <h3><strong style="font-size: 15px;">Medicina General</strong></h3>
        <h4><small><a  style="font-size: 14px; text-decoration:none">Ver detalles</a></small></h4>
      </div>

      <div class="d-flex justify-content-between">
        <h3 style="font-size: 15px;">Sesión de mañana</h3>
        <h4><small><a style="font-size: 14px; text-decoration:none; color: red;">Falta 1 día</a></small></h4>
      </div>

      <div class="d-flex flex-column">
        <button class="btn btn-primary"> <i  class="bi bi-calendar2 px-3"></i>Mie, 27 de Julio 2022 - 10:00 am</button>

      </div>

    </div>

  </div>
 </div>




    </div>
  </div>
</section> -->



